// Colors

$alphaWhite: rgba(255, 255, 255, 0.7);
$alphaBlack: rgba(0, 0, 0, 0.3);

// Font Face ********************

@font-face {
    font-family: "ailerons";
    src: url("../fonts/ailerons/webfont/ailerons-typeface-webfont.woff2") format("woff2");
}

// Font Vars ********************

$ailerons: "ailerons",
sans-serif;
$oswald: 'Oswald',
sans-serif;
$quicksand: 'Quicksand',
sans-serif;

// Font Def ********************

h1 {
    font-family: $ailerons;
    font-size: 50px;
}

h2 {
    font-family: $ailerons;
    font-size: 50px;
}

h3 {
    font-family: $ailerons;
    font-size: 24px;
}

nav {

    a {
        font-family: $ailerons;
        font-size: 24px;
    }
}

#about {

    .content {

        p {
            font-family: $quicksand;
            font-size: 20px;
        }
    }
}

.work-content-wrapper {

    p {
        font-family: $oswald;
        font-size: 16px;
    }
}

label {
    font-family: $ailerons;
    font-size: 30px;
}

input {
    font-family: $ailerons;
    font-size: 30px;
}

textarea {
    font-family: $ailerons;
    font-size: 30px;
}

button {
    font-family: $ailerons;
    font-size: 30px;
}

#lieu,
#date,
#apn {
    font-family: $quicksand;
}

// Global and Reset ********************

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    margin: 0px;
}

nav {

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
    }
}

// Modals and off-canvas Display ********************

#off-canvas {
    display: none;
}

#modal-window-work {
    display: none;
}

#modal-window-photo {
    display: none;
}

// Wrappers ********************

.site-wrapper {
    width: 100%;
    overflow: hidden;
}

// Header ********************

#header {
    position: relative;
}

#burger {
    position: fixed;
    top: 50px;
    left: 50px;
}

.header-ill {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.site-title {
    position: absolute;
    background-color: $alphaWhite;
    padding: 40px;
    top: 280px;
    left: 280px;
}

// About ********************

#about {

    h2 {
        text-align: center;
    }

    .module-wrapper {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .module-content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 140px;
    }

    .content {
        width: 62%;
        position: relative;
        z-index: 20;

        p {
            background-color: $alphaWhite;
            padding: 50px;
        }
    }

    .about-ornement {
        position: absolute;
        z-index: 10;
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
    }
}

// Works ********************

#work {

    .module-wrapper {
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .module-content {
        width: 1200px;
        margin: 0 auto;
        margin-bottom: 140px;
    }

    h2 {
        text-align: center;
        margin-bottom: 70px;
    }

    #work-grid {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }

    .project-wrapper {
        width: 50%;
        position: relative;
        margin-bottom: 350px;
    }

    .work-visual-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        z-index: 10;
    }

    .work-visual {
        width: 100%;
    }

    .work-shadow {

        img {
            filter: blur(20px)
        }
    }

    .work-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        z-index: 20;

        h3 {
            max-width: 250px;
        }

        p {
            margin-left: 20px;
        }

        div {
            margin-left: 100px;
        }
    }
}

// Last Photo *******************

#photo {

    h2 {
        text-align: center;
    }

    .module-wrapper {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .module-content {
        margin-bottom: 140px;
    }

}

.last-photo-wrapper {
    position: relative;
}

.last-photo-content-wrapper {
    position: relative;
    z-index: 20;
}

.home-photo-info {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: $alphaBlack;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
    transition: all 0.15s ease-in-out;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.home-photo-info {

    h3 {
        color: #ffffff;
    }
}

.paysage {

    img {
        display: block;
        width: 950px;
        margin: 0 auto;
    }
}

.portrait {

    img {
        display: block;
        width: 520px;
        margin: 0 auto;
    }
}

.photo-visual-portrait {
    width: 770px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;

        img {
            width: 100%;
        }
}

.photo-visual-paysage {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;

        img {
            width: 100%;
        }
}

// Contact ********************

#contact {

    .module-wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}

.form-wrapper {
    position: relative;
}

form {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 700px;
    margin: 0 auto;

    button {
        display: block;
        width: 350px;
        height: 100px;
        border: none;
        cursor: pointer;
        background-image: linear-gradient(to right, rgba(0, 142, 188, 0.3), rgba(4, 0, 78, 0.3));

        &:focus {
            outline: none;
        }
    }
}

.sub-btn {
    width: 350px;
    margin: 0px;
}

fieldset {
    border: none;
    position: relative;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 40px;
}

label {
    display: block;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 0%;
    transition: all 0.25s ease-in-out;
    transform: translateY(-50%);
    z-index: 20;
    pointer-events: none;
    line-height: normal;
}

.translate {
    top: -30px;
    transform: translateY(0%);
}

label.textarea {
    top: 20px;
    left: 0%;
}

label.textarea.translate {
    top: -30px;
    transform: translateY(0%);
}

input {
    display: block;
    height: 100px;
    padding: 10px;
    border: none;
    position: relative;
    z-index: 10;
    width: 700px;
    background-color: #ffffff;

    &:focus {
        outline: none;
    }
}

textarea {
    border: none;
    resize: none;
    padding: 10px;
    width: 700px;
    min-height: 415px;

    &:focus {
        outline: none;
    }
}

.form-ornement {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;

    svg {
        width: 100%;
    }
}

// Footer ********************

#footer {

    .module-wrapper {
        position: relative;
    }

}

.footer-ill {
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.bottom-nav {
    position: absolute;
    z-index: 20;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    li {
        margin-right: 50px;

        &:last-child {
            margin-right: 0px;
        }
    }

    svg {
        width: 100px;
    }
}